## Tuple Basics
__This set of notebooks covers the third iterable data structure we will discuss in this course  -  `Tuples`.__ 

__Tuples are very similar to lists except for one important difference:  Tuples are *immutable*. That means that the contents of a tuple cannot be altered.  In this respect they are similar to strings. Because of this property, tuples are more efficient in terms of memory use and performance than lists.__

__Tuples are ordered and hence we can use indexes to access individual elements. The values in a tuple are enclosed inside parenthese and separated by commas.__

__Tuples are written as a collection of values separated by commas and enclosed in parentheses.__  
__Tuples can also be created using the `tuple()` function. The `tuple()` function accepts an (optional) iterable parameter.__

In [ ]:
t1 = tuple()
t2 = tuple([8, 9, 6, 12])
t3 = tuple(range(5, -26, -4))
print(type(t1))
print(t1)
print(t2)
print(t3)

__The values in a tuple are enclosed inside parenthese and separated by commas.  This cells shows a few examples of tuples__

In [ ]:
from random import randrange
print((5,4,3,2,1))
print((randrange(8),randrange(8),randrange(8),randrange(8)))
print(('a', 'e', 'i', 'o', 'u'))

__Tuple variables can be created by assigning a tuple constant to a variable name.__  
__A tuple can contain elements of different types.__

In [ ]:
test_tuple = ('5', 4, 3, 2, '1', 5.8, [7,8], (5, 9))
print(test_tuple)

In [ ]:
'''
Note that if you want to create a tuple with a single element then there must be a comma after the element.
'''
test_tuple = ('5')
print(type(test_tuple))
test_tuple = ('5',)
print(type(test_tuple))